html {
  background-color: #fafafa;
}

body {
  background-color: #fafafa;
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  overflow: hidden;
  margin: 0 2em;
  padding-bottom: 2em;
}
